.downPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 999999;
  flex-direction: column;
  width: 100%;
  background-color: #b49696;
}
.downPanel .progressBar h1 {
  font-size: 5px;
}
.downPanel .trackParameters {
  display: flex;
  padding-bottom: 4px;
}
.downPanel .trackParameters img {
  width: 48px;
  height: 48px;
  padding: 16px;
}
.downPanel .trackParameters img:hover {
  background-color: lightgray;
}
.downPanel .trackParameters .trackManage img {
  gap: 3px;
}
.downPanel .trackParameters .trackName {
  margin-bottom: -4px;
  padding-left: 4px;
  display: flex;
}
.downPanel .trackParameters .trackName img.trackAvatar {
  padding: 0;
  border-radius: 4px;
}
.downPanel .trackParameters .trackName img.trackAvatar:hover {
  filter: brightness(0.65);
}
.downPanel .trackParameters .trackName .secondColumn {
  padding: 0 16px;
}
.downPanel .trackParameters .trackName .secondColumn h3 {
  font-size: 16px;
  font-weight: 600;
}
.downPanel .trackParameters .trackName .secondColumn h3:hover {
  filter: brightness(2.3);
}
.downPanel .trackParameters .trackName .secondColumn h4 {
  font-size: 14px;
  font-weight: 550;
}
.downPanel .trackParameters .trackName .secondColumn h4:hover {
  filter: brightness(2.3);
}
.downPanel .trackParameters .trackSettings {
  margin-left: auto;
  gap: 8px;
}
