html {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}
main .upPanel {
  padding: 80px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .upPanel h2 {
  font-size: 32px;
  font-weight: 750;
}
main .upPanel .manageTracks {
  display: flex;
  gap: 4px;
}
main .upPanel .manageTracks img {
  width: 48px;
  height: 48px;
  padding: 12px;
}
main .upPanel .manageTracks img:hover {
  background-color: lightgray;
  border-radius: 25px;
}
main ul {
  padding: 0;
  margin: 0;
}
main ul.trackList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main ul.trackList li {
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 8px;
  align-items: center;
}
main ul.trackList li .trackName {
  margin-right: auto;
  padding: 20px;
  margin-bottom: -4px;
}
main ul.trackList li .trackName h3 {
  font-size: 16px;
  font-weight: 600;
}
main ul.trackList li .trackName h3:hover {
  filter: brightness(2.3);
}
main ul.trackList li .trackName h4 {
  font-size: 14px;
  font-weight: 550;
}
main ul.trackList li .trackName h4:hover {
  filter: brightness(2.3);
}
main ul.trackList li img {
  padding: 4px;
  border-radius: 8px;
  width: 64px;
  height: 64px;
}
main ul.trackList li img.more, main ul.trackList li img.favourite {
  padding: 24px;
}
main ul.trackList li:hover {
  background-color: lightgray;
}
main ul.trackList li.selected {
  background-color: #e0e0e0;
}
main ul.trackList li .trackDuration {
  text-align: center;
  width: 80px;
}
